@import "tailwindcss";
@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.playfair {
  font-family: 'Playfair-Display', serif;
}


.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}